# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*

# dbt
dbt_modules/
target/
dbt_packages/

# Airflow
logs/
airflow.db
unittests.cfg

# Docker
*.log
*.pid

# IDEs
.vscode/
.idea/

*plugins/
*.db
